
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Outfit", sans-serif;
}

th{
    padding: 20px;
} 

td{
    text-align: center;
    padding:20px;
}




